spring:
  application:
    name: knowledge-agent
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/training?useLegacyDatetimeCode=false&serverTimezone=CTT&useUnicode=true&characterEncoding=UTF-8
    username: root
    password:

server:
  port: 8001

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url: http://127.0.0.1:8000/eureka/

mybatis:
  config-location: classpath:mybatis-config.xml
