<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <mapper resource="mapper/choicequestion.xml"></mapper>
        <mapper resource="mapper/course.xml"></mapper>
        <mapper resource="mapper/coursequestionlink.xml"></mapper>
        <mapper resource="mapper/subject.xml"></mapper>
    </mappers>
</configuration>